.profile-pic img{
    height: 350px;
    width: 350px;
    border-radius:50%;
}

.text{
    font-size: 40px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(170, 9, 71);
}